                                            @import "reset";
                                            @import "variables";
                                            @mixin flex-column {
                                                display: flex;
                                                flex-direction: column;
                                            }
                                            
                                            body {
                                                @include flex-column();
                                                min-height: 100vh;
                                                background-image: linear-gradient(to top, rgb(182, 173, 173), rgb(240, 240, 217));
                                            }
                                            
                                            $opacidades:( inicio:0, medio-bajo:0.25, medio:0.5, medio-alto: 0.75, alto:1);
                                            @keyframes titulo {
                                                0% {
                                                    opacity: map-get($opacidades, inicio);
                                                }
                                                25% {
                                                    opacity: map-get($opacidades, medio-bajo);
                                                }
                                                50% {
                                                    opacity: map-get($opacidades, medio);
                                                }
                                                75% {
                                                    opacity: map-get($opacidades, medio-alto);
                                                    ;
                                                }
                                                100% {
                                                    opacity: map-get($opacidades, alto);
                                                }
                                            }
                                            
                                            header {
                                                width: 100%;
                                                justify-items: center !important;
                                                align-items: center !important;
                                                .titulo {
                                                    width: 80%;
                                                    color: $colorBlanco;
                                                    animation-name: titulo;
                                                    animation-iteration-count: 2s;
                                                    animation-duration: 1s;
                                                }
                                            }
                                            
                                            ul {
                                                list-style: none;
                                                li {
                                                    padding: 5px;
                                                }
                                            }
                                            
                                            .acceso {
                                                text-decoration: none !important;
                                            }
                                            
                                            .mainAudiovisuales {
                                                @include flex-column();
                                                flex-wrap: wrap;
                                                align-items: center;
                                            }
                                            
                                            .secciones {
                                                @extend .mainAudiovisuales;
                                                width: 80%;
                                                margin-bottom: 40px;
                                            }
                                            
                                            .coros {
                                                margin-bottom: 30px;
                                            }
                                            
                                            .mainAudiovisuales .secciones h4 a {
                                                text-decoration: none;
                                                font-size: 40px;
                                                font-family: Lobster;
                                                color: $colorAudiovisuales;
                                            }
                                            
                                            footer {
                                                margin-top: auto;
                                                display: flex;
                                                justify-content: center;
                                                background-color: black;
                                                h6 {
                                                    @extend h1;
                                                }
                                            }
                                            
                                            .imgOpciones {
                                                border-radius: 10px;
                                            }
                                            
                                            @media (min-width:576px) {
                                                main {
                                                    display: flex;
                                                    flex-direction: row;
                                                    justify-content: space-around;
                                                    align-items: center;
                                                }
                                                .mainAudiovisuales {
                                                    display: flex;
                                                    flex-direction: row;
                                                    justify-items: center;
                                                    justify-content: space-around;
                                                    align-content: space-around;
                                                    height: 65%;
                                                    padding: 10px;
                                                }
                                                .mainAudiovisuales .secciones {
                                                    margin: 20px;
                                                    display: flex;
                                                    flex-direction: column;
                                                    justify-items: center;
                                                    height: 75%;
                                                }
                                                .mainAudiovisuales .secciones h4 a {
                                                    text-decoration: none;
                                                    font-size: 40px;
                                                    color: rgb(43, 122, 226);
                                                }
                                                footer {
                                                    margin-top: auto;
                                                    display: flex;
                                                    justify-content: center;
                                                    background-color: black;
                                                    h6 {
                                                        @extend h1;
                                                    }
                                                }
                                            }