                                            @import "reset";
                                            @import "variables";
                                            body {
                                                display: flex;
                                                flex-direction: column;
                                                min-height: 100vh;
                                                background-image: linear-gradient(to top, rgb(182, 173, 173), rgb(240, 240, 217));
                                            }
                                            
                                            @keyframes titulo {
                                                0% {
                                                    opacity: 0;
                                                }
                                                25% {
                                                    opacity: 0.25;
                                                }
                                                50% {
                                                    opacity: 0.5;
                                                }
                                                75% {
                                                    opacity: 0.75;
                                                }
                                                100% {
                                                    opacity: 1;
                                                }
                                            }
                                            
                                            header {
                                                width: 100%;
                                                justify-items: center !important;
                                                align-items: center !important;
                                                h1 {
                                                    width: 80%;
                                                    color: $colorBlanco;
                                                    animation-name: titulo;
                                                    animation-iteration-count: 2s;
                                                    animation-duration: 1s;
                                                }
                                            }
                                            
                                            ul {
                                                margin-top: 5px;
                                                margin-bottom: 5px;
                                                list-style: none;
                                                li {
                                                    padding: 5px
                                                }
                                            }
                                            
                                            .mainAudiovisuales {
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                            }
                                            
                                            .mainAudiovisuales .secciones {
                                                margin-bottom: 20px;
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                width: 80%;
                                            }
                                            
                                            .mainAudiovisuales .secciones h4 a {
                                                text-decoration: none;
                                                font-size: 40px;
                                                color: $colorAudiovisuales;
                                            }
                                            
                                            @media (min-width:576px) {
                                                main {
                                                    display: flex;
                                                    flex-direction: row;
                                                    justify-content: space-around;
                                                    align-items: center;
                                                }
                                                .mainAudiovisuales {
                                                    display: flex;
                                                    flex-direction: row;
                                                    justify-items: center;
                                                    justify-content: space-around;
                                                    align-content: space-around;
                                                    height: 65%;
                                                    padding: 10px;
                                                }
                                                .mainAudiovisuales .secciones {
                                                    margin: 20px;
                                                    display: flex;
                                                    flex-direction: column;
                                                    justify-items: center;
                                                    height: 75%;
                                                }
                                                .mainAudiovisuales .secciones h4 a {
                                                    text-decoration: none;
                                                    font-size: 40px;
                                                    color: rgb(43, 122, 226);
                                                }
                                                footer {
                                                    margin-top: auto;
                                                    display: flex;
                                                    justify-content: center;
                                                    background-color: black;
                                                    h6 {
                                                        padding: 5px;
                                                        color: white;
                                                    }
                                                }
                                            }