* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    justify-items: center !important;
    align-items: center !important;
}

h1 {
    width: 80%;
    color: white;
}

ma h3 {
    width: 80% !important;
}

ul {
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
}

ul li {
    padding: 5px
}

.mainAudiovisuales {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainAudiovisuales .secciones {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainAudiovisuales .secciones h4 a {
    text-decoration: none;
    font-size: 40px;
    color: rgb(43, 122, 226);
}

@media (min-width:576px) {
    .mainAudiovisuales {
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: space-around;
        align-content: space-around;
    }
    .mainAudiovisuales .secciones {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .mainAudiovisuales .secciones h4 a {
        text-decoration: none;
        font-size: 40px;
        color: rgb(43, 122, 226);
    }
}